@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&family=Inter:wght@100;300;400;500;600;700&display=swap');

.menu {
    font-family: "IBM Plex Sans", sans-serif;
    position: relative;
    z-index: 1000;
}
.menu .menu-opener-button {
    padding: 1.0938rem .625rem;
    position: fixed;
    top: 0;
    left: 0;
}
.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 20rem 1fr;
}
.menu-content {
    height: 100vh;
    background-color: #FAFAFA;
    padding: 2rem .5rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: .25rem;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 0px .25rem .25rem 0px;
}
.menu-overlay {
    width: 100%;
}
.menu-header {
    min-height: 2.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.25rem 0.125rem -0.125rem rgba(0, 0, 0, 0.25);
    margin: -2rem -0.625rem 1.25rem;
}
.logo {
    padding-left: .625rem;
}
.menu .close-button {
    position: static;
    padding: 0;
    padding-right: 1.25rem;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: .0625rem;
}
.menu-items {
    display: flex;
    flex-direction: column;
    gap: .3125rem;
    overflow-y: scroll;
}
.menu-text{
    font-family: sans-serif;
    font-size: .875rem;
    font-weight: 350;
}
.menu-item {
    display: flex;
    height: 3.5rem;
    align-items: center;
    flex-shrink: 0;
    padding: 0px 1rem;
    align-self: stretch;
    border-bottom: .5008px solid #FBA115;
}
.menu-item.selected,
.menu-item:hover {
    background-color: #136FEE;
    border-bottom: none;
}
.menu-item.selected p,
.menu-item:hover p {
    color: #FAFAFA;
}
.menu-item p {
    color: #136FEE;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: .0094rem;
}
.menu-item p b {
    font-weight: 500;
}
.menu-history {
    display: flex;
    font-family: var(--chatbot-container-font-family, sans-serif);
    height: 3.5rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 18px;
    align-items: center;
}
.menu-history-date-label {
    font-size: .75rem;
    font-family: var(--chatbot-container-font-family, sans-serif);
    color: #C4C6CF;
}
.menu-history-item-wrapper {
    position: relative;
    width: 100%;
    overflow-y: scroll;
}
.menu-history-item{
    display: flex;
    padding: 1rem;
    position: relative;
    height: 2.5rem;
    overflow: visible;
    justify-content: space-between;
    align-items: center;
    border-bottom: .0313rem solid #FD9102;
}
.menu-history-item-wrapper form {
    height: 40px;
    width: 100%;
}
.menu-history-item-wrapper form input {
    font-family: var(--chatbot-container-font-family, sans-serif);
    width: 100%;
    height: 100%;
    border: 2.5px solid #136FEE;
    padding: 0 15px;
}
.menu-history-item-wrapper span {
    font-family: var(--chatbot-container-font-family, sans-serif);
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .0094rem;
}
.menu-history-option{
    position: absolute;
    border-radius: .3125rem;

    padding: 3px 9px;
    width: 10.375rem;
    height: 6.375rem;
    z-index: 1002;
    background-color: #ECECEC;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.menu-history-option.bottom {
    top: 100%;
    right: 0;
}
.menu-history-option.top {
    bottom: 100%;
    right: 0;
}
.menu-history-option-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.menu-history-option-edit, .menu-history-option-delete{
    width: 100%;
    height: 100%;
}
.menu-history-option-edit {
    border-bottom: .5008px solid #FD9102;
}
.menu-history-option-delete button {
    color: #E41D1D;
}
.menu-history-option-wrapper div button {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: .75rem;
    font-size: .875rem;
    font-family: var(--chatbot-container-font-family, sans-serif);
}
.modal-delete {
    z-index: 1001;
    position: relative;
}
.modal-delete-wrapper {
    z-index: 1001;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-delete-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1.75rem 1rem;
    width: 20.75rem;
    height: 13.125rem;
    font-family: var(--chatbot-container-font-family, sans-serif);
    border-radius: .25rem;
    background-color: #DFE9EB;
}
.modal-delete-content h6{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: .5rem;
}
.modal-delete-content span{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 2rem;
}
.modal-delete-btn-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
}
.modal-delete-btn-wrapper button {
    padding: 9px 14px;
    text-transform: uppercase;
    width: 50%;
    height: 49px;
}
.modal-delete-btn-cancel{
    color: #136FEE;
    border: .125rem solid #136FEE;
}
.modal-delete-btn-delete{
    color: #FAFAFA;
    background-color: #136FEE;
}
.menu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-footer p {
    color: #3C3C3B;
    font-family: IBM Plex Sans, sans-serif;
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.05rem;
    letter-spacing: .0313rem;
}
.menu-footer p b {
    font-weight: 700;
}
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #43474E #DFE9EB;
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: .5rem;
}
*::-webkit-scrollbar-track {
    background-color: #DFE9EB;
    border: .1875rem solid #FFFFFF;
}
*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}
*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}
*::-webkit-scrollbar-thumb {
    background-color: #43474E;
    border: .1875rem solid #FFFFFF;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #43474E;
}
*::-webkit-scrollbar-thumb:active {
    background-color: #43474E;
}